<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TRPi - ATX Control</title>
	</head>
	<body>
		<p>This is the ATX Control Page</p>
		<a href="{% url 'power_short' %}">Power (Short)</a>
		<a href="{% url 'power_long' %}">Power (Long)</a>
		<a href="{% url 'reboot' %}">Reboot</a>
		<br/><br/>
		<a>The TRminator is currently: {{power_state}}</a>
		<br>
		<a>The HDDs are currently: {{hdd_state}}</a>
	</body>
</html>
